services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: shukketsu
      POSTGRES_USER: shukketsu
      POSTGRES_PASSWORD: shukketsu
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
